.menu {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: stretch;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 1.25rem;
  z-index: 1000;
  padding: 0.1rem; /* Минимальный padding, так как у элементов уже есть margin */
}

.menuItem {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  min-width: 0;
  gap: 0.25rem;
  margin: 0.1rem; /* Все элементы имеют одинаковый margin */
  border: 0.1rem solid transparent; /* Невидимая граница для резервирования места */
}

.menuItem:active {
  opacity: 0.7;
}

.menuItem.active {
  background-color: #3C3C3C;
  border-radius: 1rem;
}

.icon,
.avatar {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.avatar {
  border-radius: 50%;
}


