.text {
  font-family: var(--font-family-primary);
}

.regularS {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
}

.regularM {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-relaxed);
}

.headingS {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-relaxed);
  color: #8B8B8B; /* Серый */
}

.headingM {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-relaxed);
}

.headingL {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-tight);
}
