.text {
  font-family: var(--font-family-primary);
}

.regularS {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
}

.regularM {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-relaxed);
}

.headingS {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-relaxed);
}

.headingM {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-relaxed);
}

.headingL {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-tight);
}

.BoldM {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
}

/* Color classes */
.colorPrimary {
  color: var(--color-text-primary); /* Тёмно-серый, основной цвет текста */
}

.colorSecondary {
  color: var(--color-text-secondary); /* Вторичный цвет текста */
}

.colorGrey {
  color: var(--color-grey); /* Серый цвет текста */
}

.colorSuccess {
  color: var(--color-success); /* Зелёный, успех */
}

.colorError {
  color: var(--color-error); /* Красный, ошибка */
}

.colorWarning {
  color: var(--color-warning); /* Жёлтый, предупреждение */
}

.colorInfo {
  color: var(--color-info); /* Синий, информация */
}

.colorWhite {
  color: var(--color-white); /* Белый */
}


